@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
   box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*//////////////////////////////////////////////MENU//////////////////////////////////////////////*/
body {
    overflow-x: hidden;
}
.navegadorWrapper {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 80px;
    background: #fff;
	box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
    transition: all 0.4s ease-in-out;
    position: relative;
    z-index: 10000;
}
.logo {
    height: 80px;
}
.navegador {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.nav2 {
    display: flex;
}
.nav2 li {
    list-style: none;
}
.nav2 li a {
    text-decoration: none;
    color: #000;
    font-family: 'Raleway', sans-serif;
    padding: 30px;
    display: block;
    transition: all 0.3s ease-in-out;
}
.loginWrapper {
    display: flex;
}
.loginWrapper li a {
    color: #EA4E4F;
    font-weight: 700;
    transition: all 0.3s ease-in-out;

}
#menu, .icon-bars {
    display: none;
}
.nav2 li a:hover {
    color: #EA4E4F;
}
.loginWrapper li a:hover {
    color: #000;
}
@media (max-width: 950px) {
    .nav2, .loginWrapper {
        display: block;
        width: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        margin: 0;
    }
    .navegadorWrapper {
        justify-content: space-between;
    }
    .navegador {
        position: absolute;
        transition: all 0.4s ease-in-out;
        transform: translateX(120%);
        top: 80px
    }
    .contMenu {
        height: 80px;
    }
    .icon-bars {
        padding: 20px;
        color: black;
        font-size: 28px;
        padding-top: 30px;
        display: block;
        position: relative;
        z-index: 100;
    }
    .loginWrapper li a {
        color: #EA4E4F;
    }
    .loginWrapper li a, .nav2 li  a{
        border-bottom: 1px solid #EA4E4F;
        padding: 30px;
        margin: 0;
        text-align: center;
    }
     .loginWrapper li:nth-child(2) {
        border: none;
    }
    .loginWrapper li a:hover , .nav2 li a:hover {
        background: #EA4E4F;
    }
    .loginWrapper li a:hover {
        color: black;
    }
    .nav2 .menuLink2 {
        color: white;
    }
    .nav2 .menuLink2:hover {
        color: white;
    }
}
.contenedorBusqueda {
    background-color: #EA4E4F;
    padding: 20px;
    width: 100%;
    height: 80%;
    max-width: 100%;
}
.busquedaWrapper {
    position: relative;
    padding: 10px;
    max-width: 100%;
    height: 100vh;
    height: 100%;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255 , 0.9);
    display: flex;
}
.imgRestaurante {
    max-width: 100%;
    width: 100%;
}
.parrafoRestaurante {
    max-width: 40%;
    margin: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
.dolar {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
.dolar:nth-child(1){
    margin: 0;
}
.nombreRest {
    font-size: 25px;
}
@media (max-width: 950px) {
    .busquedaWrapper {
        display: block;
    }
    .parrafoRestaurante {
        display: block;
        max-width: 100%;
    }
}
@media (max-width: 700px){
    .contenedorBusqueda {
        padding: 40px;
    }
}@media (max-width: 500px){
    .busquedaWrapper {
        padding: 5px;
    }
}
@media (max-width: 400px){
    .contenedorBusqueda {
        padding: 15px;
    }
}
@media (max-width: 350px){
    .nombreRest {
        font-size: 20px;
    }
    .parrafoRestaurante {
        font-size: 12px;
    }
}
/*-------------------------------------RESTAURANTE-----------------------------------------*/
/*LIKE */
#like {
    display: none;
}
svg {
    width: 30px;
}
input[type="checkbox"]:checked + label svg {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	fill: rgb(220, 72, 127);
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
}

