<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Búsqueda Avanzada</title>
    <link rel="stylesheet" href="css/fonts/Fontastic/styles.css">
<link rel="stylesheet" href="css/sesionIniciada.css">
</head>
<body>
    <div class="navegadorWrapper">
        <div class="logoWrapper">
            <img src="img/logo.png" alt="" class="logo">
        </div>
        <div class="contMenu">
            <input type="checkbox" id="menu">
            <label for="menu" class="icon-bars"></label>
        </div>
        <div class="navegador" id="navegador">
            <div class="nav2">
                <li class="menuItem"><a href="paginaPrincipal.html" class="menuLink2">Regresar a Inicio</a></li>
                <div class="loginWrapper">
                    <li class="menuItem"><a href="inicioSesion.html" class="menuLink">Login</a></li>
                    <li class="menuItem"><a href="registro.html" class="menuLink">Regístrate</a></li>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedorBusqueda">
            <div class="busquedaWrapper">
                <div class="wrapperUsuario" id="app-2">
                   <div v-for="user in usuario" class="divFlex">
                    <div class="contUsuario">
                        <h1 class="nombreUsuario">{{ user.nombre}} <span> </span> {{user.apellido }}</h1>
                        <div class="contInfo">
                        <p class="infoUsuario"><b>Edad: </b>{{ user.edad }}</p>
                        <p class="infoUsuario"><b>Sexo: </b>{{ user.sexo }}</p>
                        <p class="infoUsuario"><b>Direccion: </b>{{ user.direccion }}</p>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="contH1">
                    <h1 class="infoH1">TUS RESTAURANTES FAVORITOS</h1>
                </div>
                <div class="wrapperRes"  id="app-1">
                   <div v-for="res in mejoresRestaurantes" class="container2">
                        <div  class="wrapper3" v-on:click="newWindow()">
                            <img v-bind:src="res.img" alt="" class="imgRes">
                            <h1 class="hRes">{{ res.nombre }}</h1>
                            <div class="contParrafo">
                            <div v-for="n in res.precio">
                                <span><b>$</b></span>
                            </div>
                            <p class="pRes">{{ res.tipo }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="js/sesionIniciada.js"></script>
</body>
</html>